# Project exclude paths
/springcloud-api/target/
/springcloud-consumer-dept-8080/target/
/springcloud-eureka-7001/target/
/springcloud-eureka-7002/target/
/springcloud-eureka-7003/target/
/springcloud-provider-dept-8001/target/
/springcloud-provider-dept-8002/target/
/springcloud-provider-dept-8003/target/