<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--用来控制mybatis全局控制-->
    <settings>
        <!--打印日志在控制台上-->
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>

<!--    <environments default="mydev">-->
<!--        <environment id="mydev">-->
<!--            <transactionManager type="JDBC"/>-->
<!--            <dataSource type="POOLED">-->
<!--                <property name="driver" value="com.mysql.jdbc.Driver"/>-->
<!--                <property name="url"-->
<!--                          value="jdbc:mysql://localhost:3306/db01?useUnicode=true&amp;characterEncoding=utf8"/>-->
<!--                <property name="username" value="root"/>-->
<!--                <property name="password" value="199810"/>-->
<!--            </dataSource>-->
<!--        </environment>-->
<!--    </environments>-->


    <!--sql映射文件的位置-->
<!--    <mappers>-->
<!--        <mapper resource="com.mou.springcloud.mybatis.mapper.DeptMapper.xml"/>-->
<!--    </mappers>-->
</configuration>

        <!--
    mybatis的主配置文件：主要定义了数据库的配置信息，sql映射文件的位置
-->